.ct-section-inner-wrap {
  overflow-x: hidden;
}
.slick-slider {

  .slick-list {
    overflow: visible;
  }
  
  .slick-slide {
    margin: 0 8px;
  }
  
  .slick-arrow {
      position: absolute;
      z-index: 3;
      top: 50%;
      transform: translate(0, -50%);
      border: none;
      background: $oxycolor18;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      &:before {
          color: $oxycolor16;
          font-size: 30px;
          line-height: 1;
          top: 50%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: inherit;
      }
  }
  
  .slick-prev:before {
    content: "<";
  }
  
  .slick-next:before {
    content: ">";
  }

}