.stripe-form {

  h2 {
    margin-bottom: 32px;
  }

  .payment-table {
    margin-bottom: 24px;
  }
  
  .payment-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.1rem;
    font-weight: 700;
    background: #3d190d30;
    padding: 16px;
    border-radius: 8px;
    margin-top: 8px;
  }

  .total-row {
    padding: 16px;
    background: #3d190d7e;
    color: #fff;
    border-radius: 8px;
    margin-top: 16px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .form-wrapper .total-row { 
    margin-bottom: 16px;
  }

  .token-required {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 8px !important;
  }
  
  .add-token-row {
    margin-top: 0 !important;
    padding-top: 8px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .add-token-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sq-button {
    padding: 16px;
    line-height: 0.34;
    color: #fff;
    background-color: #3d190d;
    text-align: center;
    cursor: pointer;
    width: 38px;
  }
  
  form {
    width: 100%;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
  }

  input {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    font-size: 16px;
    width: 100%;
    background: white;
    font-family: Lato, sans-serif;
  }

  .token-input {
    height: auto;
    border-radius: 0;
    padding: 0 12px;
    width: 50px;
    text-align: center;
    margin: 0;
    border: none;
  }
  
  .initiator {
    padding: 16px;
    background: #3d190d;
    color: #fff;
    border-radius: 8px;
    margin-top: 16px;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .change-token {
    margin-bottom: 16px;
    cursor: pointer;
  }

  .result-message {
    line-height: 22px;
    font-size: 16px;
  }
  .result-message a {
    color: #3d190d;
    font-weight: 600;
    text-decoration: none;
  }
  .hidden {
    display: none;
  }
  #card-error {
    color: rgb(105, 115, 134);
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
  }
  #card-element {
    border-radius: 4px 4px 0 0 ;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 100%;
    background: white;
  }
  #payment-request-button {
    margin-bottom: 32px;
  }

  #form-wrapper {
    display: none;
    opacity: 0;
  }

  .payment-button,
  #payment-form,
  #payment-setup,
  #form-wrapper,
  #pay-by-card, 
  #form-wrapper {
    transition: 600ms;
  }

  /* Buttons and links */
  button {
    background: #3d190d;
    color: #ffffff;
    font-family: Lato, sans-serif;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
  }
  button:hover {
    filter: contrast(115%);
  }
  button:disabled {
    opacity: 0.5;
    cursor: default;
  }
  /* spinner/processing state, errors */
  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #3d190d;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #3d190d;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }
  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}